services:
  db:
    image: postgres:15
    restart: always
    env_file: .env
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    networks: 
      - mdes_network_dev

  redis:
    image: redis:7-alpine
    restart: always
    networks: 
      - mdes_network_dev

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file:
      - ./.env  
    environment:
      DJANGO_ENV: development
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    restart: always
    networks: 
      - mdes_network_dev
    command: >
      sh -c "
      python manage.py runserver 0.0.0.0:8000
      "

  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file: .env
    volumes:
      - ./backend:/app
    depends_on:
      - redis
      - db
    command: celery -A app worker --loglevel=info
    restart: always
    networks: 
      - mdes_network_dev

  celery-beat:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file: .env
    volumes:
      - ./backend:/app
    depends_on:
      - redis
      - db
      - celery
    command: celery -A app beat --loglevel=info
    restart: always
    networks: 
      - mdes_network_dev

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    env_file:
    - ./frontend/.env.local
    environment:
      NODE_ENV: development
      WATCHPACK_POLLING: true
    command: npm run dev
    depends_on:
      - backend
      - db
    restart: always
    networks:
      - mdes_network_dev

volumes:
  postgres_data_prod:

networks:
  mdes_network_dev:
