services:
  db:
    image: postgres:15
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mdes_network

  backend:
    build:
      context: ./backend
      dockerfile: ./Dockerfile.dev
    volumes:
      - ./backend:/app
    env_file: .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
        - mdes_network

  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules # Don't override node_modules inside container
    environment:
      - NODE_ENV=development
    networks:
      - mdes_network
    develop:
      watch:
        - path: ./frontend
          target: /app
          action: rebuild

  # Optional: use nginx in dev if needed
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/staticfiles
    depends_on:
      - backend
      - frontend
    networks:
      - mdes_network
    # comment this out if not using nginx in dev
    restart: always
    command: [ "nginx", "-g", "daemon off;" ]

volumes:
  postgres_data:
  static_volume:

networks:
  mdes_network:
