services:
  db:
    image: postgres:15
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - suspend_mdes_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -h localhost"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - suspend_mdes_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  backend:
    build:
      context: ./backend
    working_dir: /app
    env_file:
      - ./.env  
    environment:
      DJANGO_ENV: production 
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
      python manage.py migrate &&
      exec gunicorn app.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 3000
      "
    ports:
      - "8009:8000"
    restart: always
    networks:
      - suspend_mdes_network

  celery:
    build:
      context: ./backend
    working_dir: /app
    command: celery -A app worker --loglevel=info
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file: .env
    restart: always
    networks:
      - suspend_mdes_network

  celery-beat:
    build:
      context: ./backend
    working_dir: /app
    command: celery -A app beat --loglevel=info
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      celery:
        condition: service_started
    env_file: .env
    restart: always
    networks: 
      - suspend_mdes_network

  frontend:
    build:
      context: ./frontend
    environment:
      - NODE_ENV=production
    depends_on:
      backend:
        condition: service_started
      db:
        condition: service_healthy
    ports:
      - "8010:3000"
    restart: always
    networks:
      - suspend_mdes_network

volumes:
  postgres_data:

networks:
  suspend_mdes_network:
      name: suspend_mdes_network
      external: true
