name: CI/CD Pipeline (Main Branch Only)

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Test with Docker Compose
        uses: actions/checkout@v4
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2
      - name: Build and test Docker image
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
          POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
        run: docker compose -f docker-compose-test.yaml up --build --abort-on-container-exit

  build_and_deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Execute deployment commands on remote server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST_SSH }}
          username: ${{ secrets.USER_SSH }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/pok/suspend
            rm -rf ./webblock > /dev/null 2>&1
            git clone --branch main https://${{ secrets.ACCESS_TOKEN }}@github.com/${{ secrets.REPO_OWNER }}/${{ secrets.REPO_NAME }}.git
      # - name: Show branch name for verification
      #   run: echo "${{ github.ref_name }}"
